<config app="MSX Tiles detool" version="0.9.0.0">
  <Path_Project>C:\Users\Casa\Desktop\otro  dibujo</Path_Project>
  <Path_SC2>
  </Path_SC2>
  <Path_Bitmap>C:\Users\Casa\Desktop\Catalan police</Path_Bitmap>
  <Path_nMSXtilesProject>C:\Users\Casa\Desktop\Catalan police</Path_nMSXtilesProject>
  <Path_Palettes>
  </Path_Palettes>
</config>