<config app="spriteSX devtool" version="0.9.4.0b">
  <ProjectDefaultPath>F:\informatica\Programacion\Lenguajes generalistas\Ensamblador\MSX\mis programas\MSX police\MSX police v2.0.4\sprites</ProjectDefaultPath>
  <PaletteDefaultPath>F:\informatica\Programacion\Lenguajes generalistas\Ensamblador\MSX\mis programas\MSX police\MSX police v2.0.4\tools\spriteSXdevtool\</PaletteDefaultPath>
  <Path_SC2>
  </Path_SC2>
  <Path_Bitmap>
  </Path_Bitmap>
  <RecentProjects>
    <item index="0" path="F:\informatica\Programacion\Lenguajes generalistas\Ensamblador\MSX\mis programas\MSX police\MSX police v2.0.4\sprites\sprites msx police.xspr" />
  </RecentProjects>
</config>